$small: 320px;
.housing__div {
  position: relative;
  border: 1px solid transparent;
  border-radius: 16px;
  background: #e9e9e9;

  background-clip: padding-box;
  padding: 50px;
  /* Note: backdrop-filter has minimal browser support */

  // border-radius: 24px;
  ::before {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-image: linear-gradient(58deg, #00eaff, #e617db);
    content: "";
    z-index: -2;
    border-radius: 16px;
  }
  .holding__img {
    position: relative;
    img {
      position: absolute;
      bottom: -42px;
      left: -2px;
      width: 100%;
    }
  }
  .div__sect {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    h5 {
      padding-top: 100px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: capitalize;

      color: #343434;
    }
    p {
      padding-top: 20px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */

      text-transform: capitalize;

      color: #343434;
    }
  }
}
@media screen and (max-width: $small) {
  .housing__div {
    padding: 10px;
    .div__sect{
        width: 100%;
        h5{
            text-align: center;
            padding-top: 60px !important;
        }
        p{
            text-align: center;
        }
    }
    .holding__img {
      // display: none;
    }
  }
}
