$small: 320px;
$iphonexr:414px;
.housing__div {
  background: linear-gradient(258.12deg, rgba(112, 112, 112, 0.09) 0.36%, rgba(255, 255, 255, 0.07) 100%);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
  border: 2px solid #E617DB;
  .holding__img {
    position: relative;
    img {
      position: absolute;
      bottom: -42px;
      left: -2px;
      width: 100%;
    }
  }
  .div__sect {
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    h5 {
      padding-top: 100px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: capitalize;

      color: #343434;
    }
    p {
      padding-top: 20px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */

      text-transform: capitalize;

      color: #343434;
    }
  }
}
@media screen and (max-width: $small) {
  .housing__div {
    padding: 10px;
    .div__sect{
        width: 100%;
        h5{
            text-align: center;
            padding-top: 60px !important;
        }
        p{
            text-align: center;
        }
    }
    .holding__img {
      // display: none;
    }
  }
}
@media screen and (max-width: $iphonexr) {
  .housing__div {
    padding: 10px;
    .div__sect{
        width: 100%;
        h5{
            // text-align: center;
            padding-top: 60px !important;
        }
        
    }
    .holding__img {
      // display: none;
    }
  }
}
