$small: 320px;
$iphonexr: 414px;
.housing__divpulse {
  background: linear-gradient(258.12deg, rgba(112, 112, 112, 0.09) 0.36%, rgba(255, 255, 255, 0.07) 100%);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
  border: 2px solid #E617DB;
  padding: 50px;
  margin-top: 8rem;

  

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-transform: capitalize;

    color: #343434;
  }

  .first__divtext {
    .new {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: capitalize;

      color: #343434;
    }

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */

      text-transform: capitalize;

      color: #343434;
    }
  }

  .second__div {
    button {
      border: none;
    }
  }

  .network {
    h4 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: capitalize;

      color: #343434;
    }
  }
  .hello__img {
    position: relative;
    img {
      width: 230px;
      position: absolute;
      left: -110px;
      top: 390px;
      z-index: 1;
    }
  }
}

@media screen and (max-width: $small) {
  .housing__divpulse {
    padding: 10px;
    .second__div {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .network {
      width: 100%;
      // border: 1px solid #00eaff;
      border-radius: 8px;
      overflow-x: hidden;
    }
  }

  .newheart {
    img {
      display: none;
    }
  }
  .lastheart {
    overflow-x: unset;
    img {
      width: 250px !important;
      left: -117px !important;
      z-index: -1;
    }
  }
}
@media screen and (max-width: $iphonexr) {
  .housing__divpulse {
    padding: 10px;
    .second__div {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .network {
      width: 100%;
      // border: 1px solid #00eaff;
      border-radius: 8px;
      overflow-x: hidden;
    }
  }

  .newheart {
    img {
      display: none;
    }
  }
  .lastheart {
    overflow-x: unset;
    img {
      width: 250px !important;
      left: -117px !important;
      z-index: -1;
    }
  }
}
