.housing__divpulse {
  background: linear-gradient(
    258.12deg,
    rgba(0, 0, 0, 0.09) 0.36%,
    rgba(0, 0, 0, 0.07) 100%
  );
  backdrop-filter: blur(10px);
//   /* Note: backdrop-filter has minimal browser support */
    position: relative;
    border: 1px solid transparent;
    border-radius: 16px;
    // background: linear-gradient(white, red);
    //   background: linear-gradient(258.12deg,
    //       rgba(0, 0, 0, 0.09) 0.36%,
    //       rgba(0, 0, 0, 0.07) 100%);
    // background: #c4c4c4;
    background-clip: padding-box;
    padding: 10px;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black,
    inset 0 0 9px white;

::before {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(red, blue);
    content: '';
    z-index: -2;
    border-radius: 16px;
}
  p{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* or 162% */

      text-transform: capitalize;

      color: #343434;
  }

  .first__divtext {
      
      
    .new {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: capitalize;

      color: #343434;
    }
    p{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */

        text-transform: capitalize;

        color: #343434;
    }
  }
  .second__div{
      button{
          border: none;
      }
  }
  .network{
      border: 2px solid ;
  }
}

.grounded-radiants {
    position: relative;
    border: 4px solid transparent;
    border-radius: 16px;
    background: linear-gradient(orange, violet);
    background-clip: padding-box;
    padding: 10px;
    /* just to show box-shadow still works fine */
    box-shadow: 0 3px 9px black, inset 0 0 9px white;
}

.grounded-radiants::after {
    position: absolute;
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
    background: linear-gradient(red, blue);
    content: '';
    z-index: -1;
    border-radius: 16px;
}
