.hello__img{
    width: 50% !important;
}
@media screen and (min-width: 320px) {
    .hello__img{
        width: 55% !important;
    }
}

@media screen and (max-width: 561px) {
   .divi{
        margin-top: 3rem !important;
        margin-bottom: 1rem !important;
       .hello__img{
           width: 100% !important;
       }
   }
}