$small: 320px;
$iphonexr:414px;
// .first__col{
//   background-image: url("../../assets/whyvec.svg");
//   background-size: cover;
//   background-repeat: no-repeat;
// }
.home__div {
  background: linear-gradient(258.12deg, rgba(112, 112, 112, 0.09) 0.36%, rgba(255, 255, 255, 0.07) 100%);
  backdrop-filter: blur(10px);
  background-image: url("../../assets/whyvec.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
  border: 2px solid #00EAFF;
  .first__home-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;

    div {
      width: 30%;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      text-transform: capitalize;

      color: #343434;
    }
    h5 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;

      color: #343434;
    }
  }
}
@media screen and (max-width: $small) {
  .home__div {
    padding: 10px !important;
    .first__home-section {
      flex-direction: column;
      width: 100% !important;
      div {
        width: 100% !important;
      }
    }
  }
}
@media screen and (max-width: $iphonexr) {
  .home__div {
    padding: 10px !important;
    .first__home-section {
      flex-direction: column;
      width: 100% !important;
      div {
        width: 100% !important;
      }
    }
  }
  .vec__div{
    img{
      width: 120px !important;
      bottom: 225px;
      right: 0 !important;
    }
  }
}
