$small: 320px;
.home__div {
  position: relative;
  border: 1px solid transparent;
  border-radius: 16px;
  background: #e9e9e9;

  background-clip: padding-box;
  padding: 50px;

  ::before {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background-image: linear-gradient(58deg, #00eaff, #e617db);
    content: "";
    z-index: -2;
    border-radius: 16px;
  }
  .first__home-section {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      width: 30%;
    }
    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      text-transform: lowercase;

      color: #343434;
    }
    h5 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      text-transform: capitalize;

      color: #343434;
    }
  }
}
@media screen and (max-width: $small) {
  .home__div {
    padding: 10px !important;
    .first__home-section {
      flex-direction: column;
      width: 100% !important;
      div {
        width: 100% !important;
      }
    }
  }
}
