.home__div {
  background: linear-gradient(
    258.12deg,
    rgba(0, 0, 0, 0.09) 0.36%,
    rgba(0, 0, 0, 0.07) 100%
  );
  backdrop-filter: blur(10px);

  border-radius: 24px;
  width: 1234px;
  height: 629px;
}
