$small: 320px;
.min__div{
    background: linear-gradient(258.12deg, rgba(112, 112, 112, 0.09) 0.36%, rgba(255, 255, 255, 0.07) 100%);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;
    border: 2px solid #00EAFF;
    padding: 50px;
    margin-top: 8rem;

    
    .mini__text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */
        

        text-transform: capitalize;

        color: #343434;
    }
}

@media screen and (max-width: $small) {
    .min__div{
        padding: 10px;
    }
    
}