$small: 320px;
$iphonexr: 414px;

.housing__section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  .text__section {
    width: 40%;
    .inner__text {
      display: flex;
      position: relative;

      //   padding: 0 20px;
      .line {
        width: 35px;
        height: 9px;
        position: absolute;
        top: 9px;
        left: 170px;
      }
      p {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: capitalize;
      }
    }
    .other__text {
      .hopeless {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 56px;
        text-transform: capitalize;

        // color: #343434;
      }
      .text__under {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 237.52%;
        /* or 38px */

        text-transform: capitalize;

        color: #343434;
      }
      .contribute {
        background: #d7d7d7;
        border-radius: 10px;
        border: none;
        width: 150px;
        height: 50px;
        box-shadow: -3px 3px 0px 1px #00eaff;
        display: none;
      }
    }
  }
  .image__section {
    // width: 60%;
    // background-image: url("../../assets/head.png");
    // background-size: contain;
    // background-repeat: no-repeat;
    // img {
    //   width: 455px;
    //   height: 551.21px;
    // }
  }
}
@media screen and (max-width: $small) {
  .housing__section {
    .text__section {
      width: auto;
      .other__text {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .contribute{
          display: none;
        }
      }
    }
    flex-direction: column-reverse;

    .image__section {
      width: 100% !important;

      img {
        height: 300px !important;
        width: 300px !important;
      }
    }
  }
}
@media screen and (max-width: $iphonexr) {
  .housing__section {
    .text__section {
      width: auto;
      .other__text {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .contribute{
          display: none;
        }
      }
    }
    flex-direction: column-reverse;

    .image__section {
      width: 100% !important;
      img {
        height: 300px !important;
        width: 300px !important;
      }
    }
  }
}
