body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid beige; */
    /* overflow: hidden; */
    /* overflow-y: hidden; */
    overflow-x: hidden; 
    background: #19172B;
}